<form
    [formGroup]="formModel"
    (ngSubmit)="onSubmit()">
    <div>
        Username:
        <input
            type="text"
            formControlName="userName">
        <span
            class="error"
            [hidden]="!formModel.hasError('required', 'userName')">
            Username
        </span>
    </div>

    <div>
        SSN:
        <input
            type="text"
            formControlName="socialSecurity">
        <span
            class="error"
            [hidden]="!formModel.hasError('ssn', 'socialSecurity')">
            SSN is invalid
        </span>
    </div>

    <div formGroupName="passwordsGroup">
        <div>
            Password:
            <input
                type="password"
                formControlName="password">
            <span
                class="error"
                [hidden]="!formModel.hasError('minlength', ['passwordsGroup', 'password'])">
                Password is too short
            </span>
        </div>

        <div>
            Confirm password:
            <input
                type="password"
                formControlName="pconfirm">
            <span
                class="error"
                [hidden]="!formModel.hasError('equal', 'passwordsGroup')">
                Passwords must be the same
            </span>
        </div>
    </div>

    <button
        type="submit"
        [disabled]="formModel.invalid">
        Submit
    </button>
</form>
